/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerRow {
  align-items: center;
  grid-row-gap: 2em;
}

.heroTitle {
  display: flex;
  justify-content: center;
}

.heroLogo {
  height: 1.6em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  vertical-align: middle;
}

.quickButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
} 

@media only screen and (min-width: 600px) {
  .quickButtons * {
    --ifm-button-size-multiplier: 1.32;
  }
}

.heroImageWrapper {
  display: grid;
}

.heroImageWrapper a {
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  max-width: 450px;
}
