.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

/* do not underline university links by default, those are distracting */
.featureBox:nth-of-type(3) a:not(:hover) {
  text-decoration: none;
}

.featureBox:nth-of-type(3) a:hover {
  text-decoration: underline;
}

.featureSvg {
  height: 100px;
  width: 200px;
}

[data-theme='dark'] .invertDark {
  filter: invert(100%);
}